[Desktop Entry]
Name=Gosh Fetch
Comment=Cross-platform download manager
Exec=gosh-fetch %u
Icon=com.gosh.fetch
Terminal=false
Type=Application
Categories=Network;FileTransfer;
StartupWMClass=gosh-fetch
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
